* {
    font-family: sans-serif;
    font-size: 16px;
}
table
{
    position: relative;
    top: 50px;
    width: 100%;
}
table, th, td
{
    border-collapse: collapse;
    
}

td
{
    padding: 17px 8px;
    text-align: center;
}
.yes-p
{
    background: rgb(243, 243, 243);
}
.no-p
{
    
}

.name
{
    text-align: left;
}